.formulario {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.input-grup{
    display: flex;
    flex-direction: column;
    margin: 4px;
}

.input-item{
    margin: 6px;
    width: 300px;
}

.div-btn{
    display: flex;
    justify-content: center;
}

.color-blue{
    background: blue;
    width: 60%;
    
}

.color-grey{
    background: gray;
}